.header {
    height: 10%;
    box-sizing: border-box;

    border: 1px solid;
}

.header,
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;

    margin: 10px;
    padding: 10px;
}

.nav-item {
    position: relative;
    text-decoration: none;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item:hover::after {
    position: absolute;
    left: 0%;
    bottom: -5%;
    width: 100%;
    height: 1px;
    content: "";
    background: var(--default-color);
}

.nav-item__selected {
    border-bottom: 1px solid;
}