.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
    width: 100%;

    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}