.showcase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2.9%;
    
    height: 100%;
    width: 100%;

    margin: 10px;
    padding: 10px;
    box-sizing: border-box;

    overflow-y: scroll;
}